.git
.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store

backend/backend_server.*.log
backend/database
backend/models
backend/data/known_faces/*
backend/data/embeddings/*
backend/data/snapshots/*
backend/data/test_videos/*
backend/data/temp_uploads/*
!backend/data/known_faces/.gitkeep
!backend/data/embeddings/.gitkeep
!backend/data/snapshots/.gitkeep
!backend/data/test_videos/.gitkeep
!backend/data/temp_uploads/.gitkeep

app_flutter/.dart_tool
app_flutter/build
app_flutter/.flutter-plugins
app_flutter/.flutter-plugins-dependencies

beta_testing_files_01
beta_testing_files_02
docs/~$*
